name: GitHub Metrics
on:
  schedule:
    - cron: "0 2 * * *"
  workflow_dispatch:

jobs:
  github-metrics:
    runs-on: ubuntu-latest
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          user: mrlmurilo
          template: classic
          base: header, activity, repositories
          config_timezone: America/Sao_Paulo
          plugin_languages: yes
          plugin_languages_details: bytes-size, percentage
          plugin_streak: yes
